

body {
	overflow: hidden; }



.square {
    transform: scale(0.75);
    -ms-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
}



.square { position: relative; }





/* ANIMATION */
.squares {
	-webkit-transition: 1.5s cubic-bezier(.17,.67,0,1.34);
	-moz-transition: 1.5s cubic-bezier(.17,.67,0,1.34);
	-o-transition: 1.5s cubic-bezier(.17,.67,0,1.34);
    transition: 1.5s cubic-bezier(.17,.67,0,1.34);
}


.square:hover { background-color: #D136B5; }
.square:hover { transform: translate(-1vw,-4vw); }
.square:hover { transform: translate(-2vw,+3vw); }
.square:hover  { transform: translate(+3vw,-2vw); }
.square:hover  { transform: translate(+4vw,+1vw); }
.square:hover  { transform: translate(-7vw,-7vw); }
.square:hover { transform: translate(-8vw,-6vw); }
.square:hover  { transform: translate(-9vw,-4vw); }
.square:hover  { transform: translate(-10vw,+3vw); }
.square:hover  { transform: translate(-8vw,+5vw); }
.square:hover  { transform: translate(-6vw,+7vw); }
.square:hover { transform: translate(-4vw,+6vw); }
.square:hover { transform: translate(+5vw,+5vw); }
.square:hover { transform: translate(+7vw,+3vw); }
.square:hover { transform: translate(+8vw,-4vw); }
.square:hover { transform: translate(+5vw,-7vw); }
.square:hover { transform: translate(+3vw,-10vw); }

